
@{
    ViewBag.Title = "About";
}

<h2>НПП</h2>

<div class="wpb_wrapper">
    <p><strong>WORK &amp; TRAVEL USA</strong> e најпопуларна и најатрактивна ЛЕТНА СТУДЕНТСКА работна програма. ПРОГРАМАта е позната и како КУЛТУРНА РАЗМЕНА НА СТУДЕНТИ Т.Н. EXCHANGE VISITOR PROGRAM.ВО WORK &amp;TRAVEL ПРОГРАМАТА УЧЕСТВУВААТ ПОВЕЌЕ ОД 100.000 СТУДЕНТИ ОД ЦЕЛИОТ СВЕТ. МАКЕДОНСКИТЕ СТУДЕНТИ ИМААТ ПРАВО ДА ЗЕМАТ УЧЕСТВО ВО ПРОГРАМАТА И ДА ПРЕСТОЈУВААТ ВО АМЕРИКА ВО ПЕРИОД ОД 4-5 МЕСЕЦИ ЗА ВРЕМЕ НА ЛЕТНИОТ СТУДЕНТСКИ РАСПУСТ.</p>

</div>
	</div>

<div class="wpb_text_column wpb_content_element ">
    <div class="wpb_wrapper">
        <p>
            <strong>ЦЕЛТА НА ПРОГРАМАТА Е:</strong><br />
            СТЕКНУВАЊЕ НА РЕАЛНО РАБОТНО ИСКУСТВО, УСОВРШУВАЊЕ НА АНГЛИСКИОТ ЈАЗИК, СТЕКНУВАЊЕ НА НОВИ ПРИЈАТЕЛСТВА СО СТУДЕНТИ ОД СИТЕ КОНТИНЕНТИ, ЗАПОЗНАВАЊЕ СО АМЕРИКАНСКАТА КУЛТУРА
        </p>
        <p>
            <strong>
                КАДЕ МОЖЕ ДА СЕ РАБОТИ?<br />
            </strong>СТУДЕНТИТЕ ИМААТ МОЖНОСТА ДА РАБОТАТ СТУДЕНТСКИ РАБОТИ ОД ОБЛАСТА НА ТУРИЗМОТ, УГОСТИТЕЛСТВО, ПРОДАЖБА НА СУВЕНИРИ И ДРУГИ ВИДОВИ НА УСЛУЖНИ ДЕЈНОСТИ ВО ТУРИСТИЧКИ ЦЕНТРИ ШИРУМ сад. РАБОТНИТЕ АКТИВНОСТИ СЕ ИЗВЕДУВААТ ВО КОМПАНИИ КОИ НУДАТ СЕЗОНСКА ( ЛЕТНА ) РАБОТА
        </p>

    </div>
</div>