
@{
    ViewBag.Title = "Contact";
}

<div class="container" style="height:32em">

    <h2 class="text-center py-5">Контакт</h2>

    <div class="row">
        <div class="col-6 m-auto">
            <address>
                Митрополит Теодосиј Гoлоганов<br />
                Скопје 1000<br />
                <p title="Phone">Телефон: 078430408</p>

            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
        </div>
        <div class="col-6 mb-auto">
            <img style="height:18em; width:40em;" src="~/Images/contact_us_banner1-1.jpg" />
        </div>
    </div>



</div>