
@{
    ViewBag.Title = "Contact";
}

<h2>Контакт</h2>

<address>
    Митрополит Теодосиј Гoлоганов<br />
    Скопје 1000<br />
    <abbr title="Phone">P:</abbr>
    078430408
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

